.radioGroup {
  padding: 12px 24px 24px 24px;
  .pdfBtn,
  .graphBtn {
    width: 90px;
    height: 36px;
    line-height: 34px;
    text-align: center;
  }
  // .pdfBtn {
  //   border-top-left-radius: 18px;
  //   border-bottom-left-radius: 18px;
  // }
  // .graphBtn {
  //   border-top-right-radius: 18px;
  //   border-bottom-right-radius: 18px;
  // }
}
