.about {
  height: 100%;
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  .headline,
  .content,
  .grid {
    max-width: 1200px;
    min-width: 1100px;
  }
  .headline,
  .grid {
    padding: 0 52px;
  }
  .headline {
    text-align: center;
    margin: 0 auto 40px auto;
    .title {
      font-size: 40px;
      font-weight: 400;
      padding: 40px 0 16px 0;
    }
    .desc {
      font-size: 20px;
      font-weight: 400;
    }
  }
  .content {
    margin: 0 auto;
    height: 500px;
    position: relative;
    .intro {
      position: absolute;
      left: 12px;
      top: 50px;
      z-index: 10;
      background-color: rgba(255, 255, 255, 0.9);
      box-shadow: -2px 0 8px 2px rgba(24, 23, 23, 0.05);
      padding: 32px 40px;
      width: 750px;
      height: 400px;
      .theme {
        font-size: 24px;
        font-weight: 400;
        margin: 12px 0 16px 0;
        color: #1677ff;
      }
      .goal {
        font-size: 16px;
        color: #666;
        line-height: 2;
      }
    }
    .banner {
      position: absolute;
      background: url("../../assets/images/aboutusBg.png") no-repeat 50% / cover;
      right: 12px;
      top: 0;
      z-index: 8;
      width: 1140px;
      height: 500px;
      box-shadow: 0 4px 6px rgba(199, 226, 252, 0.2);
      border: 2px solid #f3f3f3;
    }
  }

  .grid {
    margin: 40px auto 24px auto;
    .copyright,
    .members,
    .recommend,
    .qrCode {
      .title {
        margin-bottom: 12px;
        font-size: 15px;
        font-weight: 600;
      }
    }
    .copyright {
      .txt {
        height: 32px;
        line-height: 32px;
        font-size: 12px;
      }
    }
    .members {
      .member {
        height: 32px;
        line-height: 32px;
        font-size: 14px;
      }
    }
    .recommend {
      .link {
        display: block;
        height: 32px;
        line-height: 32px;
      }
    }
    .qrCode {
      .codeImg {
        width: 100px;
        height: 100px;
      }
      .txt {
        font-size: 12px;
      }
    }
  }
}
